.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;  
  }
.Inicio {
  padding: 40px;
  border-radius: 12px;
  background: linear-gradient(135deg, #ec4899, #db2777);
  color: rgb(2, 138, 24)
  font-weight bold;
  }