body{
    margin: 0;
    background-color: #0a0b11;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 20px;
}
.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.rojo{
    background-color: #fc0400;
}
.naranja{
    background-color: #f78400;
}
.verde{
    background-color: #007e06;
}
.azul{
    background-color: #000a64;
}
.violeta{
    background-color: #180052;
}
.rosa{
    background-color: #ff0080;
}
.celeste{
    background-color: #00ddff;
}
.lima{
    background-color: #84cc16;
}
.naranja2{
    background-color: #7e3400;
}