body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #000000;
  color: #1daf00;
}
table {
      margin: auto;
      border-collapse: collapse;
    }

    td, th {
      text-align: center;
      border: 1px solid rgb(17, 204, 0); ;
      padding: 8px;
    }
   th {
  background-color: #000000;
  color: rgb(17, 204, 0);}